@charset "UTF-8";

* {
	font-family: Verdana, Helvetica, sans-serif;
}

@font-face {
  font-family: Les_Flos;
  src: url(../fonts/les_flos/Les_Flos_Sage.otf);
}

@font-face {
  font-family: Les_Flos;
  src: url(../fonts/les_flos/Les_Flos_Sans.otf);
  font-style: italic;
}

@font-face {
  font-family: Les_Flos;
  src: url(../fonts/les_flos/Les_Flos_Chaos.otf);
  font-style: oblique;
}

footer {
	background-color: #FFDA78;
	color: #AF7A18;
	font-size: 80%;
	padding: 20px;
	height: 100px;
}

padding ul {
	margin-bottom: 20px;
}

.sx {
	float: left;
}

.dx {
	float: right;
	margin-right: 20px;
}

header{
	background-color: #003285;
	color: #FAFAFA;
	width: 80%;
	border-radius: 0px 0px 30px 30px;
	padding: 5px 10px 10px 20px;
	margin: auto;
  	margin-top: -10px;
  	margin-bottom: 30px;
}

header a, header a:visited{
	color: #FAFAFA;
	text-decoration: none;
}

header a:hover{
	color: #FF7F3E;
}

header #logo{
	display: flex;
  	align-items: center;
}

header img{
	width: 80px;
	height: auto;
	margin: 10px;
}

header h1 {
	font-family: Les_Flos;
	font-style: italic;
}

nav {
	margin: 20px;
	text-align: right;
}

nav ul{
	list-style-type: none;
	margin-bottom: 30px;
}

nav ul li {
	display: inline;
	margin: 20px 15px;
}

#form {
	width: 80%;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 30px;
	background-color: #FAFAFA;
	border: #003285 solid 5px;
}

#form label, #form input{
	display: table-cell;
	margin-top: 5px;
	margin-bottom: 5px;
}

#form .row{
	display: table-row;
	margin: 5px;
}

#form h3 {
	color: #FF7F3E;
}

#form input[type=submit] {
	background-color: #FF7F3E;
	color: #FAFAFA;
	padding: 5px 15px;
	border-radius: 30px;
	border-style: none;
}

#form input[type=submit]:hover {
	background-color: #003285;
}